.row.credit-box
  .col-12.col-sm-8
    p
      span This website was designed and built with&nbsp;
      i.fas.fa-heart
      span &nbsp;by&nbsp;
      a(href='https://c1moore.codes' target='_blank') Calvin Moore
      span .  Create your own e-portfolio by forking the project on&nbsp;
      a(href='https://github.com/c1moore/portfolio' target='_blank') GitHub.
  .col-6.col-sm-2
    a.logo-link(href='https://c1moore.codes' target='_blank')
      img(src='assets/images/c1moore.png')
  .col-6.col-sm-2
    a.logo-link(href='https://github.com/c1moore' target='_blank')
      img(src='assets/images/social-media/GitHub.png')