hero-img("[sources]"='sources' "[image]"='image')
  .header
    h1.hero-header.margin-left-20
      span Ready to translate your ideas into&nbsp;
      text-typer("[values]"='programAdjectives')
      br
      span programs?