#coming-soon.container-fluid.margin-top-50
	h1
		| Coming Soon
		loading-ellipsis
	p.margin-top-30.margin-bottom-50
		| Greatness is in the works.  In the meantime, you can check out some of my profiles around the web.
	a.btn.btn-light.btn-icon.btn-github.margin-right-30(href='https://github.com/c1moore' target='_blank' role='button')
	a.btn.btn-light.btn-icon.btn-linkedin.margin-right-30(href='https://linkedin.com/in/c1moore' target='_blank' role='button')
	a.btn.btn-light.btn-icon.btn-stackoverflow(href='https://stackoverflow.com/users/3263719' target='_blank' role='button')